@charset "UTF-8";
img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.row > * {
  padding-right: 0;
  padding-left: 0;
}
ol,
ul {
  padding-left: 0;
}
